div.title {
  text-align: left;
  background-color: rgb(28,18,18);
  position: static;
  width: 50%;
  height: 100px;
  display: inline-block;
  color: white;
  padding-left: 20px;
  font-size: 18px;
}
#unlogged {
    text-align: left;
    background-color: rgb(28,18,18);
    color: white;
    position: relative;
    left: 50%;
    bottom: 100px;
    width: 50%;
    height: 100px;

}
/*This is for the text to align right for Create Account Log In*/
#TopRight {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 200px;
    font-size: 20px;
    padding-right:200px;
}

  ul, li{ list-style:none; margin:0; padding:0; top:0; font-size:20px;}/*1.1*/
.selectNav ul{background-color:white;} /*1.2*/
.selectNav a{color:white; display:block; padding:30px; text-decoration:none;top:0px} /*1.2, 1.3*/
.selectNav a:hover{background -color:#333333; text-decoration:none; color:white;}/*1.2*/
.selectNav > ul{ display:table; width:100%;margin-top:-100px;}  /*2.1, 2.2*/
.selectNav > ul > li{ display:table-cell; border-right:none;}  /*3.1, 3.2 */
.selectNav > ul > li:last-child{ border-right:none;}/*3.2*/
.selectNav > ul > li > a{ text-align:center;}/*2*/

a:hover,a:visited {
  color: black;
}
a.nav-item {
  color: black;
}
body {
  background-color: white;
  color: black;
  font-family: "Futura Medium";
}

button {
    background-color: rgb(28,18,18);
    border-color: rgb(28,18,18);
    color: white;
    border: none;
    transition-duration: 0.4s;
    border-radius:4px;
    outline:none;
}
button:hover{
    background-color: white;
    color: black;

}
button.navButton {
    background-color: rgb(255,255,255);
    border-color: rgb(255,255,255);
    color: rgb(0,0,128);
    border: none;
    transition-duration: 0.4s;
    border-radius: 4px;
}

button.navButton:hover {
    background-color: blue;
    color: white;

}

#main {
    padding-bottom: 200px; /*ensure nothing drops below bottom nav*/
    text-align: center;
    display:inline-block;
    font-size: large;

}
#botNav {
    position: fixed;
    bottom: 0;
    background-color: rgb(28,18,18);
    color: white;
    width: 100%;
    height: 200px;
    font-size: 12px;
}

#TOS {

    background-color: rgb(192, 192, 192)
}

#botTableNavBar {

    table-layout: auto;
    width: 100%;
    font-size: medium;
}
